.emptyWrapper {
    width: 100%;
    text-align: center;
    margin-top: 48px;
}

h1 {
    font-size: 40px;
    font-weight: 500;
}

p{
    font-size: 18px;
}

.infoIcon {
    width: 100%;
    height: 100%;
    font-size: 64px;
 
}

.textMargin {
    margin-top: 12px;
}

.smallerTextMargin {
    margin-top: 22px;
}