.pageWrapper {
  background-color: #eeeeee;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  min-height: 100vh;
  background-color: #f0f0f0;
}

.innerWrapper {
  margin: 24px 24px;
}

.title {
  font-size: 32px;
  font-weight: bold;
}

.filtersWrapper {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  background-color: white;
  width: 100%;
  height: auto;
  gap: 20px;
  box-shadow: 0 2px 6px 0 rgba(0, 0, 0, 0.2);
}

.formField {
  background-color: white;
  border: none;
}

.searchFormSection {
  overflow: hidden;
  min-width: 20vw;
  margin-left: auto;
  margin-right: 20px;
}

.searchFormField {
  min-width: 20vw;
  margin-left: auto;
}

.divider {
  height: 40px;
  --mat-divider-width: 2px;
}

.formPicker {
  margin-top: 12px;
  align-self: center;
}

.productName {
  font-weight: 500;
}

.ordersTableWrapper {
  margin-top: 36px;
  margin-left: 24px;
  margin-right: 24px;
}

.ordersHeader {
  background-color: #eeeeee;
}

.custom-elevation-table {
  position: relative;
  // box-shadow: 0 2px 6px 0 rgba(0, 0, 0, 0.2);
}

.tableRow {
  margin-top: 80px;
}

.statusSection {
  position: relative;
}

.filterCategory {
  position: absolute;
  font-weight: 500;
  margin-left: 10px;
  margin-top: -14px;
}

.statusIcon {
  display: inline-block;
  border-radius: 4px;
  width: 35px;
  height: 25px;
  margin-right: 12px;
}

.statusProgress {
  background-color: #34baeb;
}

.statusPending {
  background-color: #eb9934;
}

.statusCompleted {
  background-color: #7fcf42;
}

.statusText {
  position: relative;
  top: -6px;
}

table {
  border-collapse: separate !important; /* Ensure spacing works */
  border-spacing: 0 10px !important; /* Vertical spacing of 10px */
  background-color: #eeeeee;
  border-top: none !important;
  border-left: none !important;
  border-right: none !important;
}

tr {
  box-shadow: 1px 1px 2px 1px rgba(0, 0, 0, 0.2);
  background-color: white;
}
